

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 143, 143, 0.4); /* Adjust the color and opacity as needed */
    z-index: 0;
  }

  .overlay-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(145, 137, 137, 0.9); /* Adjust the color and opacity as needed */
    z-index: 0;
  }

  .box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 20px;
  }

  .text-container {
    
    width: 100%;
    z-index: 1; /* Ensure the text is in front of the overlay */
    height: 60%;
    color: rgb(72, 72, 72);
    text-decoration: none;
  }
  .text-container-two {
    
    width: 100%;
    z-index: 1; /* Ensure the text is in front of the overlay */
    height: 60%;
    color: rgb(35, 35, 35);
    text-decoration: none;
  }

  #datenschutz.text-container-two {
    width: 60%;
  }
 
.footer {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
}

.background-container {
  
    background-image: url("./assets/images/geigenbau-werkstatt.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;

}

.background-container-small {
    background-image: url("./assets/images/geigenbau-werkstatt.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}

.horizontal-picture {
  width: 500px;
}

.text-box {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px
}

#image {
  position: absolute;
  left: 600px;
}







.carousel {
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 20px;
}

.carousel__slides {
  display: flex; /* Ensure the slides are displayed in a row */
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}
.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel__btn--prev {
  left: 0;
}
.carousel__btn--next {
  right: 0;
}
.carousel__img {
  flex: 0 0 auto; /* Prevent images from stretching */
  width: 100%; /* Ensure each image takes up the full width of the container */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out;
  

}


.carousel__indicators{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.carousel__indicator {
  
  width: 60px;
  height: 10px;
  background-color: rgb(63, 62, 62);
  margin-left: 5px;
  border-radius: 10px;

}

.carousel__indicator.active {
  background-color: rgb(221, 221, 224); /* Active color */
}


@media (max-width: 430px) {
  .background-container {
    min-height: 1400px;
    background-attachment: fixed;
  }
  #longDataContainer.background-container {
    min-height: 2600px;
  }
  .horizontal-picture {
    width: 300px;
    margin-bottom: 50px;
  }
  .text-box {
    width: 100%;
  }
  .background-container-small {
    min-height: 650px;
  }
  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel__btn {
    font-size: 1rem;
    padding: 0.5rem;
  }
  
}

